* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  background: rgb(31, 138, 137);
  background: radial-gradient(
    circle,
    rgba(31, 138, 137, 1) 53%,
    rgba(49, 42, 107, 1) 89%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculadora {
  background-color: rgba(230, 232, 236, 0.612);
  color: white;
  display: grid;
  width: 350px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.pantalla {
  grid-column: 1/-1;
  background-color: rgb(15, 15, 79);
  padding: 1.5rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-weight: 600;
}
.boton {
  background-color: black;
  color: white;
  border: 0;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.boton:hover {
  background-color: rgb(120, 127, 133);
}
#cero {
  grid-column: span 2;
}
#igual {
  grid-row: span 2;
}
